# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
doc_data/
# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build output
dist/
build/
coverage/

# Temporary files
*.tmp
*.temp
.temp/
.tmp/

# Database files
*.sqlite
*.sqlite3
*.db

# Testing
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity 

Dockerfile
docker-compose.yml
../src/controllers/auth.controller.ts
../src/config/saml.ts

# Ignore run-serve.sh changes
run-serve-dev.sh

demo/